:root {
		--main-font: "Instrument Serif";
		--background: url("img/sparkle.gif");
		--main-color: #ffffff;
	}

	h1, h2 {
		font-family: var(--main-font);
		color: var(--main-color);
		font-weight: 400;
		font-style: normal;
		font-size: 3em;
		padding: 25px 0 25px 10px;
	}

	body
	{
		margin: 0;
		height: 100dvh;
		display: grid;
		place-items: center;	
		background: var(--background);
	}

	ul {
		--dur: 100s;
		--size: min(20vw, 12em);
		display: grid;
		animation: perspect;
		transform-style: preserve-3d;
	}

	li {
		padding: 23px;
		grid-area: 1/1;
		display: grid;
		animation: draai var(--dur) linear infinite;
		animation-delay: calc( var(--dur) / sibling-count() * sibling-index() * -1 );
		transform-style: preserve-3d;
	}

	li:nth-child(2) div {
		background: url(img/Gattaca_poster.jpg);
	}

	div {
		align-items: center;
		text-align: center;
		justify-items: center;
		grid-area: 1/1;
		border-radius: 50%;
		width: var(--size);
		aspect-ratio: 1/1;
		background-image: linear-gradient(45deg, yellow, gold);
		margin: 10px;
		backface-visibility: hidden;
	}

	div:hover {
		cursor: pointer;
	}

@keyframes draai {
	0% {
		transform:
			rotateY(1turn)
			rotateX(0turn)
			translateZ( calc(var(--size) * 1.5));
	}
	100% {
		transform:
			rotateY(0turn)
			rotateX(1turn)
			translateZ( calc(var(--size) * 1.5));
	}
}

@keyframes perspect {
	0%
	{
		perspective: 50em;
	}
	100%
	{
		perspective: 10em;
	}
}