* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Inter, sans-serif;
	color: var(--main-color);
}

:root {
	--background: #ffffff;
	--main-color: #3b0000;
	--main-secondary: #A6FF00;
	--main-random: hotpink;
	--main-random-two: rgb(255, 77, 0);
	--main-font: "Instrument Serif";
}

body {
	background-color: var(--background);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column
}

h1 {
	font-family: var(--main-font);
	font-weight: 400;
  	font-style: normal;
	font-size: 3em;
	padding: 25px 0 25px 10px;
}

h2 {
	font-family: var(--main-font);
	font-weight: 400;
  	font-style: normal;
	font-size: 4em;
	padding: 25px 0;
}

h3 {
	font-family: var(--main-font);
	font-weight: 400;
  	font-style: normal;
	font-size: 2em;
	padding: 25px 0;
}

img {
	width: 300px;
	height: auto;
}

article {
	border-radius: 10px;
	outline: 2px solid var(--main-color);
}

ul {
	text-transform: uppercase;
	align-items: center;
	list-style-type: none;
}

mark {
	margin: 25px 0 25px 10px;
	text-transform: uppercase;
	border-radius: 30px;
	outline: 2px solid black;
	padding: 8px 25px;
	background-color: var(--main-secondary);
}

table {
	margin: 40px 0;
	width: 100%;
	text-transform: uppercase;
	border-collapse: collapse;
}

td, th {
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	text-align: left;
	padding: 10px 30px 10px 25px;
}

td:nth-child(1)
{
	border-right: 2px solid #000000;
}

#music
{
	background-color: var(--main-color);
}

#music > p {
	color: var(--background);
}

#goals {
	padding: 10px;
	outline: 5px dashed hotpink;
	border-radius: 10px;
	background-color: var(--main-color);
	width: 300px;
	height: 200px;
	position: relative;
}

#goals > ul > li:nth-child(1)
{
	top: 30px;
	left: 60px;
	transform: rotate(-20deg);
	background-color: var(--main-secondary);
}

#goals > ul > li:nth-child(2)
{
	animation-delay: 600ms;
	top: 10px;
	left: 50px;
	transform: rotate(10deg);
	background-color: var(--main-random);
}

#goals > ul > li:nth-child(3)
{
	animation-delay: 1000ms;
	top: 20px;
	left: 70px;
	transform: rotate(-30deg);
	background-color: var(--main-random-two);
}

article > section > img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: top;
}

.img-grid {
	display: grid;
	margin: 0 auto;
}

.img-grid > img {
	min-width: 300px;
}

.shape {
	position: absolute;
	padding: 10px;
	font-size: 15px;
	text-align: center;
	border-radius: 100px;
	animation-name: move;
    animation-duration: 2000ms;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

footer {
	background-color: var(--main-color);
	width: 100vw;
}

footer p {
	color: white;
}

@keyframes move {
  from {
    top: 20%;
  }
  to {
    top: 55%;
  }
}

@media (min-width: 500px) {
	h1 {
	font-size: 5em;
	}

	img {
		width: 400px;
		height: auto;
	}

	#goals {
		width: 400px;
		height: 300px;
	}

	article > section > img {
		width: 100%;
		height: auto;
	}

	.img-grid {
		grid-template-columns: auto auto auto;
		grid-gap: 15px;
	}

	#goals > ul > li:nth-child(1)
	{
		top: 300px;
		left: 60px;
	}

	#goals > ul > li:nth-child(2)
	{
		animation-delay: 600ms;
		top: 100px;
		left: 500px;
	}

	#goals > ul > li:nth-child(3)
	{
		animation-delay: 1000ms;
		top: 200px;
		left: 700px;
	}

	td, th {
		padding: 10px 60px 10px 50px;
	}
}


@media (min-width: 850px) {
	article {
		display: flex;
		margin: 50px 0;
	}

	#goals {
		width: 1000px;
		height: 500px;
	}

	.shape {
		font-size: 40px;
		padding: 50px 50px;
	}

	#goals > ul > li:nth-child(1)
	{
		left: 60px;
	}

	#goals > ul > li:nth-child(2)
	{
		animation-delay: 600ms;
		left: 500px;
	}

	#goals > ul > li:nth-child(3)
	{
		animation-delay: 1000ms;
		left: 750px;
	}
}