* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial, sans-serif;
	color: var(--main-color);
}

:root {
	--main-color: #3B1D00;
	--main-secondary: #A6FF00;
	--main-random: hotpink;
	--main-random-two: rgb(255, 77, 0);
	--main-font: "Instrument Serif";
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column
}

h1 {
	font-family: var(--main-font);
	font-weight: 400;
  	font-style: normal;
	font-size: 5em;
	padding: 25px 0;
}

h2 {
	font-family: var(--main-font);
	font-weight: 400;
  	font-style: normal;
	font-size: 4em;
	padding: 25px 0;
}

img {
	width: 500px;
	height: auto;
}

article {
	display: flex;
}

ul {
	text-transform: uppercase;
	align-items: center;
	list-style-type: none;
}

li {
	padding: 10px 50px;
}

mark {
	text-transform: uppercase;
	border-radius: 30px;
	outline: 1px solid black;
	padding: 8px 25px;
	background-color: var(--main-secondary);
}

section:nth-child(2) {
	margin-left: 25px;
}

table {
	text-transform: uppercase;
	border-collapse: collapse;
	padding: 20px 0;
	display: flex;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

.shape {
	font-size: 24px;
	text-align: center;
	padding: 25px 25px;
	border-radius: 100px;
}

.color-one {
	background-color: var(--main-secondary);
}

.color-two {
	background-color: var(--main-random);
}

.color-three {
	background-color: var(--main-random-two);
}

footer {
	background-color: var(--main-color);
	width: 100vw;
}

footer p {
	color: white;
}