* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Inter, sans-serif;
	color: var(--main-color);
}

:root {
	--background: #ffffff;
	--main-color: #3b0000;
	--main-secondary: #A6FF00;
	--main-random: hotpink;
	--main-random-two: rgb(255, 77, 0);
	--main-font: "Instrument Serif";
}

body {
	background-color: var(--background);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column
}

h1 {
	font-family: var(--main-font);
	font-weight: 400;
  	font-style: normal;
	font-size: 3em;
	padding: 25px 0 25px 10px;
}

h2 {
	font-family: var(--main-font);
	font-weight: 400;
  	font-style: normal;
	font-size: 2em;
	padding: 25px 0;
}

h3 {
	font-family: var(--main-font);
	font-weight: 400;
  	font-style: normal;
	font-size: 1.5em;
	padding: 25px 0;
}

img {
	width: 300px;
	height: auto;
}

article {
	border-radius: 10px;
	outline: 1px solid var(--main-color);
}

ul {
	text-transform: uppercase;
	align-items: center;
	list-style-type: none;
}

mark {
	font-size: 12px;
	margin: 25px 0 25px 10px;
	text-transform: uppercase;
	border-radius: 30px;
	outline: 1px solid black;
	padding: 8px 25px;
	background-color: var(--main-secondary);
}

table {
	margin: 40px 0;
	width: 100%;
	text-transform: uppercase;
	border-collapse: collapse;
}

td, th {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	text-align: left;
	padding: 10px 15px;
}

td:nth-child(1)
{
	border-right: 1px solid #000000;
	width: 25%;
}

figure {
	display: grid;
	gap: 50px;
	grid-template-columns: 25% 60%;
	background-color: var(--main-color);
	padding: 25px;
	border-radius: 10px;
	margin: 10px;
}

.special {
	display: none;
	font-family: var(--main-font);
	transition: opacity .55s ease-in-out;

}

.img-grid:hover + .special {
	position: absolute;
	display: block;
	background-color: var(--main-secondary);
	color: var(--main-color);
	font-size: 2em;
	border-radius: 50px;
	padding: 10px;
	width: 100px;
	height: 100px;
	text-align: center;
	z-index: 1;
	margin: -350px 40px;
}

#music
{
	h4 {
		font-size: 1.5em;
		margin: 10px 0;
		color: var(--background);
	}
	p {
		color: var(--background);
	}
	img {
		width: 100px;
		height: auto;
		border-radius: 50px;
	}
}

article > section > ul{
    margin-bottom: 40px;
}

article > section > ul > li {
    margin: 10px;
}

#goals {
	outline: 10px solid var(--main-color);
	background-color: var(--main-color);
	border: 1px dashed var(--background);
	border-radius: 10px;
	padding: 10px;
	width: 300px;
	height: 200px;
	position: relative;
	ul > li:nth-child(1)
	{
		top: 30px;
		left: 60px;
		transform: rotate(-20deg);
		background-color: var(--main-secondary);
	}
	ul > li:nth-child(2)
	{
		animation-delay: 600ms;
		top: 10px;
		left: 50px;
		transform: rotate(10deg);
		background-color: var(--main-random);
	}
	ul > li:nth-child(3)
	{
		animation-delay: 1000ms;
		top: 20px;
		left: 70px;
		transform: rotate(-30deg);
		background-color: var(--main-random-two);
	}
}

article > section > img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: top;
}

.img-grid {
	display: grid;
	margin: 0 auto;
	width: 400px;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100vw;

	img {
		width: 300px;
		height: 400px;
		object-fit: cover;
	}
}

.shape {
	position: absolute;
	padding: 10px;
	font-size: 15px;
	text-align: center;
	border-radius: 100px;
	animation-name: move;
    animation-duration: 2000ms;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

footer {
	background-color: var(--main-color);
	width: 100vw;
	p {
		color: var(--background);
	}
}

@keyframes move {
  from {
    top: 15%;
  }
  to {
    top: 55%;
  }
}

@media (min-width: 575px) {
	h1 {
		font-size: 5em;
		padding: 25px;
	}

	h2 {
		font-size: 4.5em;
	}

	h3 {
		font-size: 3em;
	}

	img {
		width: 400px;
		height: auto;
	}

	article > section > img {
		width: 100%;
		height: 500px;
		object-fit: cover;
		object-position: top;
	}

	figure {
		display: block;
		background-color: var(--main-color);
		padding: 25px;
		border-radius: 10px;
		margin: 60px 0;
		outline: 10px solid var(--main-color);
		border: 1px dashed var(--background);
	}

	mark {
	font-size: 16px;
}

	#music
	{
		img {
			width: 300px;
			height: 300px;
			object-fit: cover;
			border-radius: 10px;
		}
	}

	.img-grid {
		grid-template-columns: auto auto auto;
		grid-gap: 15px;
		width: 600px;
		img {
			width: 500px;
			height: 600px;
		}
	}

	#goals {
		width: 400px;
		height: 300px;
		ul > li:nth-child(1)
		{
			left: 40px;
		}
		ul > li:nth-child(2)
		{
			animation-delay: 600ms;
			left: 250px;
		}
		ul > li:nth-child(3)
		{
			animation-delay: 1000ms;
			left: 200px;
		}
	}

	td, th {
		padding: 10px 30px;
	}

	.shape {
		font-size: 20px;
		padding: 25px 25px;
	}
}


@media (min-width: 860px) {
	article {
		display: flex;
		margin: 50px 0;
		height: 582px;
	}

	article > section > ul {
		margin: 0 30px;
	}

	article > section > ul > li {
		margin: 7px 0;
	}

	article > section > img {
		border-end-start-radius: 10px;
		width: 100%;
		height: auto;
	}

	figure {
		margin: 0;
	}

	#music {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 40px;
	}

	#goals {
		width: 800px;
		height: 500px;
		ul > li:nth-child(1)
		{
			left: 60px;
		}
		ul > li:nth-child(2)
		{
			animation-delay: 600ms;
			left: 500px;
		}
		ul > li:nth-child(3)
		{
			animation-delay: 1000ms;
			left: 350px;
		}
	}

	.shape {
		font-size: 40px;
		padding: 50px 50px;
	}

	#animals {
		display: grid;
		grid-template-columns: auto auto;
		gap: 35px;
		margin: 150px 0;
		h3 {
			padding: 0;
		}
	}
}